<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> <%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>メンバーカード</h1><!-- 来店回数でカードの色が変わる　-->
    <span class="headline"><%= title %>　<%= name %> ( <%= ruby %> )</span>
    <section id="infomation">
      年齢: <span id="age"></span><br>
      性別: <%= sex %><br>
      住所: <%= address %><br>
      電話番号: <%= tel %><br>
      email: <%= eMail %><br>
      来店回数: <span id="visitCount"></span><br>
      最終来店日: <span id="lastVisit"></span><br>
      ランク:上位１００まで表示
    </section>

    <span class="head">来店履歴</span><span id="newKarte">&#43;</span><img src="/images/icon_question_alt2.svg" class="question"><br>
    <section id="history">
      <div><span id="log"></span></div> 
        <!--　更新履歴は　ajax loadイベントで処理 -->
    </section>

    <span class="head">カルテ</span><input type="file" name="file" value="&#43;" id="file"><img src="/images/icon_question_alt2.svg" class="question"><br>
    <section id="karte">
      <span id="kartes"></div>
      use fileapi to insert mongoDB.
    </section>

    <span class="head">メモ帳</span><span id="writeMemo">&#43;</span><img src="/images/icon_question_alt2.svg" class="question"><br>
    <section id="memo">
      <div id="memos">job. hobe</div>
        <!--　背景を　メモ帳ちっくにする　-->
    </section>

    <section id="modal"><div id="modalInner"></div></section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">var no = '<%= title %>',birthday = '<%= birthday %>', sex = '<%= sex %>';</script>
    <script type="text/javascript" src="/javascripts/modal.js"></script>
    <script type="text/javascript" src="/javascripts/card.js"></script>
   <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>